<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="ethExplorer" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="ethExplorer" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="ethExplorer" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="ethExplorer" class="no-js"> <!--<![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ETH Block Explorer</title>
    <meta name="description" content="An Ethereum (ETH) Block Explorer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/ethicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/ethicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/ethicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header class="head">
        区块浏览器
    </header>
    <div class="labelhead">
        <span ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">HCSCAN</span>
        <span ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">通证</span>
        <span ng-class="{ 'active' : data.current == 3 }" ng-click="actions.setCurrent(3)">广告记录</span>
    </div>
    <div ng-if="data.current == 1">
        <div class="cardbox">
            <div class="card">
                <img src="./assets/img/new.png"/>
                <div class="name">最新区块</div>
                <div class="num">24,904,423</div>
            </div>
            <div class="card">
                <img src="./assets/img/trade.png"/>
                <div class="name">交易次数</div>
                <div class="num">24,904,423</div>
            </div>
            <div class="card">
                <img src="./assets/img/jiedian.png"/>
                <div class="name">节点总数</div>
                <div class="num">24,904,423</div>
            </div>
            <div class="card">
                <img src="./assets/img/user.png"/>
                <div class="name">账户总数</div>
                <div class="num">24,904,423</div>
            </div>
            <div class="card">
                <img src="./assets/img/tongzheng.png"/>
                <div class="name">通证总数</div>
                <div class="num">24,904,423</div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="homefoot">
            <div class="labelnav">
                <span ng-class="{ 'labactive' : data.currents == 1 }" ng-click="actions.setActive(1)">区块</span>
                <span ng-class="{ 'labactive' : data.currents == 2 }" ng-click="actions.setActive(2)">交易</span>
            </div>
            <div ng-if="data.currents == 1">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-inverse">
                            <td>
                                <strong>Block #</strong>
                            </td>
                            <td>Block Hash</td>
                            <td>Difficulty</td>
                            <td>Miner</td>
                            <td>
                                Size
                            </td>
                            <td>
                                Age
                            </td>
                            <td>
                                # of TXs
                            </td>
                            <td>
                                Gas used
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="block in blocks" class="animated fadeIn">
                                <td>
                                    <a href="/#/block/{{ block.number }}">
                                        <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ block.number }}</span>
                                    </a>
                                </td>
                                <td><a href="/#/block/{{ block.hash }}"><span class="btn btn-sm btn-success">{{ block.hash | truncate : 12 }}</span></a></td>
                                <td style="vertical-align:middle;">{{ block.difficulty | diffFormat }}</td>
                                <td style="vertical-align:middle;"><a href="/#/address/{{ block.miner }}">{{ block.miner }}</a></td>
                                <td style="vertical-align:middle;">
                                    {{ block.size | sizeFormat }}
                                </td>
                                <td style="vertical-align:middle;" n-tooltips title="{{ block.timestamp * 1000 | date:'medium' }}">
                                    {{ block.timestamp * 1000 | timestampAge }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ block.transactions.length }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ block.gasUsed | gasFormat }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
            <div ng-if="data.currents == 2">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-inverse">
                            <td>
                                <strong>TX Hash</strong>
                            </td>
                            <td>Block #</td>
                            <td>From</td>
                            <td>To
                            </td>
                            <td>
                                Gas Used
                            </td>
                            <td>
                                Value
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tx in recenttransactions track by $index-async" class="animated fadeIn">
                
                              <td style="vertical-align:middle;"><a href="/#/tx/{{ tx.hash }}">{{ tx.hash || "" | truncate : 45 }}</a></td>
                                <td style="vertical-align:middle;">
                                    <a href="/#/block/{{ tx.blockNumber }}">
                                        {{ tx.blockNumber || "" }}
                                    </a>
                                </td>
                                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.from }}">{{ tx.from || "" | truncate : 20 }}</a></td>
                                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.to }}">{{ tx.to || "" | truncate : 20 }}</a></td>
                                <td style="vertical-align:middle;">
                                    {{ tx.gas | gasFormat }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ tx.value | BigNum }}
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
    <div class="tongzheng" ng-if="data.current == 2">
        <div class="search">
            <img src="./assets/img/search.png"/>
            <input type="text" placeholder="请输入智能合约地址或名称"/>
            <img src="./assets/img/del.png"/>
            <button type="button" class="confirm">
                确定
            </button>
        </div>
        <div class="tongcard">
            <div class="cardli">
                <div class="logo">
                    <img src="./assets/img/trade.png"/>
                </div>
                <div>
                    <div class="liname">HC</div>
                    <div class="address">智能合约地址：fduetrfeeu97655jdh</div>
                </div>
            </div>
            <div class="cardli">
                <div class="logo">
                    <img src="./assets/img/trade.png"/>
                </div>
                <div>
                    <div class="liname">HC</div>
                    <div class="address">智能合约地址：fduetrfeeu97655jdh</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="record" ng-if="data.current == 3">
         <div class="recordcard">
            <div class="recordli">
                <div>HASH值：</div>
                <div>时间：</div>
                <div>合同ID：</div>
                <div>企业ID：</div>
                <div>媒体ID：</div>
                <div>描述：</div>
                <div>广告分发记录：</div>
            </div>
            <div class="recordli">
                <div>HASH值：</div>
                <div>时间：</div>
                <div>合同ID：</div>
                <div>企业ID：</div>
                <div>媒体ID：</div>
                <div>描述：</div>
                <div>广告分发记录：</div>
            </div>
         </div>
    </div>
<!-- <nav class="navbar navbar-dark navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./#/">ETH BLOCK EXPLORER</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="./#/chain">Blockchain Info</a></li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right" ng-show="locationPath!='/'">
                <form class="navbar-form" ng-controller="processRequestCtrl" ng-submit="processRequest()"
                      name="search_form" role="search">
                    <div class="input-group">
                        <input type="text" placeholder="Tx Hash, Address, or Block #" name="requestType" required
                               ng-model="ethRequest" class="form-control searchi">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-blue" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav> -->


<div ng-view>
    <section ng-controller="viewCtrl"></section>
</div>

<!--Libs-->
<script src="https://use.fontawesome.com/9376283190.js"></script>
<script src="bower_components/web3/dist/web3.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment/locale/de.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<!--Core-->
<script src="app.js"></script>

<!--Controllers-->
<script src="scripts/controllers/mainController.js"></script>
<script src="scripts/controllers/addressInfosController.js"></script>
<script src="scripts/controllers/chainInfosController.js"></script>
<script src="scripts/controllers/blockInfosController.js"></script>
<script src="scripts/controllers/transactionInfosController.js"></script>
<!--jQuery-->
<script>
    function shapeshift_click(a, e) {
        e.preventDefault();
        var link = a.href;
        window.open(link, '1418115287605', 'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');
        return false;
    }
</script>

<!--Services-->
<!-- <div id="connectwarning" class="modal fade" role="dialog">

    <div id="connectwarning-dialog" class="modal-dialog">

        <div class="modal-content">
            <center>
                <div class="modal-header">
                    <h4 class="modal-title">Allow Access to Geth and Refresh the Page</h4>
                </div>
                <div class="modal-body">
                    <code><p id="modaltext"></p></code>
                </div>
            </center>
        </div>
    </div>
</div> -->


<!-- <div class="footer styledfoot">
    <footer>
        <br/>
        © ETH Block Explorer 2017 | <a target="_blank" href="http://github.com/sthnaqvi/explorer" >Fork me on GitHub</a>
        <br/>
        Helpful Links: ethereum.org | gdax.com | coinbase.com
        <br/>
    </footer>
</div> -->
<script>
    //begin AltSheets
    $("#modaltext").text(geth_command);
    // end AltSheets
  
</script>
</body>
</html>
