/* app css stylesheet */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto';

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #F8F8F8 !important;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.navbar-dark {
    background-color: #293640;
    color: #FFF;
}

.navbar a {
    color: #FFF;
}

.navbar a:hover {
    color: #FFF;
}

.navbar a:visited {
    color: #FFF;
}

.title {
    color: #FFF;
    font-weight: bold;
}

input.searchi {
    background-color: #293640 !important;
    border: 2px solid #384a58;
    color: #fff;
    width: 100% !important;
}

input.searchimain {
    height: 50px;
    background-color: #293640 !important;
    border: 2px solid #384a58;
    color: #fff;
    width: 100%;
}

@media (min-width: 768px) {
    .searchimain {
        width: 800px !important;
    }
}

.boxi {
    background-color: #104050;
    color: #FFF;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.thead-inverse {
    background-color: #293640;
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #30404c !important;
}

.btn-blue {
    background-color: #293640 !important;
    border-color: #384a58 !important;
    color: #FFF !important;
}

.btn-blue.focus, .btn-blue:focus {
    background-color: #293640;
    border-color: #384a58;
    color: #FFF;
}

.btn-blue:hover {
    background-color: #293640;
    border-color: #384a58;
    color: #FFF;
}

.btn-bluem {
    background-color: #293640 !important;
    border-color: #384a58 !important;
    color: #FFF !important;
    height: 50px !important;
}

.btn-bluem.focus, .btn-bluem:focus {
    background-color: #293640;
    border-color: #384a58;
    color: #FFF;
}

.btn-bluem:hover {
    background-color: #293640;
    border-color: #384a58;
    color: #FFF;
}

.styledfoot {
    margin-top: 45px;
    bottom: 0px;
    padding-bottom: 25px;
    text-align: center;
    color: #FFF;
    background-color: #293640;
    width: 100%;
}

.input-data-textarea {
    min-width: 100%;
}

.input-data-textarea:focus {
    outline-color: #272727;
}

/*make the rpc command dialogue wider*/
#connectwarning {
    width: 900px;
}

#connectwarning-dialog {
    width: 900px;
}




  .head{
      height: 100px;
      width: 100%;
      line-height: 100px;
      background-color: #0054E5;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
  }
  .labelhead{
      background-color: #FFFFFF;
      height: 50px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-top: -22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .labelhead span{
      color: #999999;
      font-size: 12px;
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 1px solid white;
  }
  .active{
        color: #0054E5 !important;
        border-bottom:1px solid #0054E5 !important;
  }
  .cardbox{
    padding: 20px 23px;   
  }
  .card{
    float: left;
    width: 47.5%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgba(129,129,129,0.16); 
    text-align: center;
    padding-top: 16px;
    margin-bottom: 23px;
  }
  .card img{
      width: 40px;
  }
  .name{
      color: #333333;
      font-size: 12px;
      margin-top: 13px;
  }
  .num{
      color: #0054E5;
      font-weight: bold;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 17px;
  }
  .card:nth-child(odd){
      margin-right: 5%;
  }
  .homefoot{
      background-color: #FFFFFF;
      height: 215px;
      padding:0 23px;

  }
  .labelnav{
      border-bottom: 1px solid #F2F2F2;
      color: #999999;
      font-size: 14px;
      padding-top:22px;
      /* padding-bottom: 11px; */
  }
  .labelnav>span:last-child{
      margin-left: 50px;
  }
  .labelnav>span{
      padding: 0 10px;
      display: inline-block;
      height: 30px;
     
  }
  .labactive{
      color: #0054E5;
      border-bottom:1px solid #0054E5;
  }
  
  .tongzheng{
      padding: 0 23px;
  }
  .search{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-top: 18px;
    height: 43px;
   }
   .search img{
       width:20px;
       height: 20px;
       margin: 0 8px;
   }
   .search input{
       border: none;
       outline: none;
       width: 100%;
   }
   .confirm{
       width: 18%;
       height: 100%;
       background-color: #0054E5;
       color: #FFFFFF;
       font-size: 13px;
       text-align: center;
       border: none;
       outline: none;
   }
   .tongcard{
       margin-top: 18px;
        width: 100%;
        height: 350px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 6px 6px 0px rgba(129,129,129,0.16); 
        overflow: scroll;
   }
   .cardli{
       display: flex;
        align-items: center;
        padding: 15px 23px;
        border-bottom: 1px solid #E5E5E5;
   }
   .logo{
       width: 32px;
       height: 32px;
       background-color: #0054E5;
       border-radius: 16px;
       margin-right: 10px;
       text-align: center;
       line-height: 28px;
   }
   .logo img{
       width: 22px;
   }
   .overlog{
       width: 85%;
       overflow: hidden;
   }
   .liname,.address{
       font-size: 12px;
       color: #999999;
   }
   .liname{
       font-weight: bold;
       color: #333333;
   }
   .record{
       padding: 10px 24px;
   }
   .recordcard{
       width: 100%;
       height: 100%;
       background: #ffffff;
        border-radius: 10px;
   }
   .recordli{
       padding:0 12px;
   }
   .recordli>div{
        color: #333333;
        font-size: 13px;
        padding:15px 0px;
   }
   
   .recordli>div:not(:last-child){
       border-bottom: 1px solid #E5E5E5;
   }
   .recordli>div:first-child{
        font-weight: bold ;
        padding: 0px ;
        border: none ;
        padding-top: 16px;
        overflow: hidden;
    }
    .recordli>div:last-child{
        overflow: hidden;
    }